html
 head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title=subject
    body
      h1(style='color:#0F3B75;') #{appMenuLangVar[0].nav_navbar_top_title}
      p &nbsp
      p #{appMenuLangVar[0].email_useradd_line1}
      p #{appMenuLangVar[0].email_useradd_line2}&nbsp#{userVar}
      p #{appMenuLangVar[0].email_useradd_line3}&nbsp#{passwordVar}
      p &nbsp
      p #{appMenuLangVar[0].email_useradd_line4}
      a(href='http://wheeldealer.ca/password-change/#{langVar}/') http://wheeldealer.ca/password-change/#{langVar}/ 
      p &nbsp
      p #{appMenuLangVar[0].email_footer_line1}
      p #{appMenuLangVar[0].email_footer_line2}
      p #{appMenuLangVar[0].email_footer_line3}

