html
 head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title=subject
    body
      h1(style='color:#0F3B75;') #{appMenuLangVar[0].nav_navbar_top_title}
      p &nbsp
      p #{appMenuLangVar[0].email_user_password_line1}
      p #{appMenuLangVar[0].email_user_password_line2}#{userVar}
      p #{appMenuLangVar[0].email_user_password_line3}#{passwordVar}
      p &nbsp
      p #{appMenuLangVar[0].email_footer_line1}
      p &nbsp
      p #{appMenuLangVar[0].email_footer_line2}
      p #{appMenuLangVar[0].email_footer_line3}
      p #{appMenuLangVar[0].email_footer_line4}

