block append
   div.mobileNotDisplay(id='appNavbar',style='width:100%;')
    .navbar
     .navbar-inner  
       a.logo(href='/#{langVar}/') #{appMenuLangVar[0].nav_navbar_top_title}
       ul.nav.pull-right
         if (!user)         
          li
           a.navBarBtn(href='/login/#{langVar}',style='color:black;') #{appMenuLangVar[0].nav_navbar_top_login}&nbsp/&nbsp#{appMenuLangVar[0].nav_navbar_top_signin}&nbsp
             i.icon-signin
         else
          li
           a.navBarBtn(href='/logout/#{langVar}',style='color:black;') #{appMenuLangVar[0].nav_navbar_top_logout}&nbsp&nbsp
             i.icon-signout
         ul.dropdown-menu
         ul.nav.navbar-nav.navbar-right
           li.dropdown
            a.navBarBtn.dropdown-toggle(href='#', data-toggle='dropdown',style='color:black;')
             | #{appMenuLangVar[0].nav_navbar_top_language}
             b.caret
            ul.dropdown-menu
             li
              a(href='/en_US/') EN
             li
              a(href='/pl_PL/') PL

