block append
   div.appMenu(id='appMenu')
        ul.ul-class(id='menu-list-top')
           li
            a.appBtnBackgroundGray.btn.mainMenuButton(href='/index-car/#{langVar}/50/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0?menu=on',style='text-align:left') #{appMenuLangVar[0].nav_menu_top_1}
              img(src='/icons/menu_car.png',style='max-width:25px; float:left;margin-right:40px;')
           li
            a.appBtnBackgroundGray.btn.mainMenuButton(href='/index-partcar/#{langVar}/50/0/0/0/0/0/0?menu=on') #{appMenuLangVar[0].nav_menu_top_2}
              img(src='/icons/menu_partscar.png',style='max-width:22px; float:left;padding-top:4px;margin-right:40px;')
           li
            a.appBtnBackgroundGray.btn.mainMenuButton(href='/index-motor/#{langVar}/50/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0?menu=on') #{appMenuLangVar[0].nav_menu_top_3}
              img(src='/icons/menu_motor.png',style='max-width:24px; float:left;padding-top:0px;margin-right:40px;')
           li
            a.appBtnBackgroundGray.btn.mainMenuButton(href='/index-partmotor/#{langVar}/50/0/0/0/0/0/0?menu=on') #{appMenuLangVar[0].nav_menu_top_4}
              img(src='/icons/menu_partmotor.png',style='max-width:21px; float:left;padding-top:3px;margin-right:40px;')
           li
            a.appBtnBackgroundGray.btn.mainMenuButton(href='/index-dealer/#{langVar}/50/0/0/0/0/0/0/0?menu=on') #{appMenuLangVar[0].nav_menu_top_5}
              img(src='/icons/menu_dealer.png',style='max-width:22px; float:left;margin-right:40px;')
           li
            a.appBtnBackgroundGray.btn.mainMenuButton(href='/index-service/#{langVar}/50/0/0/0/0/0/0/0?menu=on') #{appMenuLangVar[0].nav_menu_top_6}
               img(src='/icons/menu_service.png',style='max-width:22px; float:left;margin-right:40px;')

                


