block append
  div.appMenu(id='appMenu')
        ul.ul-class(id='menu-list')
         if appMenuLevelVar == 0
          li
            a.appBtnBackgroundBlue.btn.mainMenuButtonBack(href='/#{langVar}/') #{appMenuLangVar[0].nav_menu_top_4}
          each appMenuItem, i in appMenuCatLevel1Var
           li
            a.appBtnBackgroundGray.btn.mainMenuButton(href='/index-partmotor/#{langVar}/#{traPerPageVar}/#{sortVar}/#{searchVar}/0/#{parseInt(appMenuLevelVar)+1}/#{appMenuItem}/0?menu=#{menuViewVar}') #{appMenuItem}
         if appMenuLevelVar == 1
          li
            a.appBtnBackgroundBlue.btn.mainMenuButtonBack(href='/index-partmotor/#{langVar}/#{traPerPageVar}/#{sortVar}/#{searchVar}/0/#{parseInt(appMenuLevelVar)-1}/0/0?menu=#{menuViewVar}') #{catLevel1Var}


