doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/app-login.css')

    script(src='/javascripts/vendor/jquery-1.9.1.js')
    script(src='/javascripts/vendor/bootstrap.js')

body

 block content
  .appLogin  
   .centro
      .centroposition
        .centroh1
          form(role='form', action="/password-change-post/#{langVar}/",method="post", style='max-width: 100%;',enctype='multipart/form-data')
            center
              h1.fontSizeHeader.header #{appMenuLangVar[0].login_password_change_title}
              .center
                .centroh1
                  .form-group
                    input.form-control.login-input(type='text', name="username", placeholder='#{appMenuLangVar[0].login_placeholder_email}')
                  .form-group
                    input.form-control.login-input(type='password', name="password", placeholder='#{appMenuLangVar[0].login_placeholder_password}')           
                  .form-group
                    input.form-control.login-input(type='password', name="newpassword", placeholder='#{appMenuLangVar[0].login_placeholder_newpassword}')            
                  a(href='/login/#{langVar}/')
                    button.btn.loginBtn.appBtnBackgroundGray(type="button") #{appMenuLangVar[0].login_button_cancel}
                  button.btn.loginBtn.appBtnBackgroundGray(type='submit') #{appMenuLangVar[0].login_button_submit}
                  &nbsp
                  p.login-info(style='font-size: 30px;')  #{infoVar}
                  p.login-error(style='font-size: 30px;') #{errorVar}

